################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/one/v17
/.vs/one/FileContentIndex
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
